{{ form_start(form, {action: path("app_liste_article_edit", {id: liste_article.id}), attr: {id: 'liste_article_' ~ liste_article.id}}) }}
<button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}