{% extends 'base.html.twig' %}

{% block title %}Edit ListeArticle{% endblock %}

{% block body %}
    <h1>Edit ListeArticle</h1>

    {{ include('liste_article/_form_edit.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_liste_article_index') }}">back to list</a>

    {{ include('liste_article/_delete_form.html.twig') }}
{% endblock %}
