@font-face {
    font-family: 'Inter';
    src: url('/fonts/Inter_18pt-Medium.ttf  ') format('truetype'),
        url('/fonts/Inter_18pt-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

:root {
    --color-primary: #242861;
    --color-secondary: #FFFFFF;
    --text-color-primary: black;
    --text-color-secondary: #FFFFFF;
    --gray-color-input: #D9D9D9;
    --error-color: red;
}

body {
    font-family: 'Inter', sans-serif;
    color: var(--text-color-primary);
    padding: 0;
    margin: 0;
}









