@font-face {
    font-family: 'Inter';
    src: url('/fonts/Inter_18pt-Medium.ttf') format('truetype'),
        url('/fonts/Inter_18pt-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

:root {
    --background-color: #F0F0F0;
    --color-primary: #242861;
    --color-secondary: #FFFFFF;
    --text-color-primary: black;
    --text-color-secondary: #FFFFFF;
    --gray-color-input: #D9D9D9;
    --error-color: red;
}

body {
    background-color: var(--background-color);
    font-family: 'Inter', sans-serif;
    color: var(--text-color-primary);
    padding: 0;
    margin: 0;
}

main{
    height: auto;
    min-height: 100vh;
}

.logged-body {
    padding-left: 5vw;
    padding-right: 5vw;
}

/* HEADER */
header {
    padding: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.mobile-nav,
.destock-nav {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 1.2rem;
}

.mobile-nav {
    display: none;
}

.destock-nav {
    display: flex;
}

nav a {
    color: var(--text-color-primary);
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
}

.logo-finanzen,
.default-user-icon
.default-user-icon-inside {
    margin-top: 5px;
    width: 60px;
    height: 60px;
    border-radius: 100px;
    border: none;
}


header button {
    border: none;
}

.add-list-link{
    color: var(--color-secondary);
    background-color: var(--color-primary);
    padding: 10px;
}

.add-list-link:hover{
    text-decoration: none;
    background-color: var(--text-color-primary);
    color: var(--color-secondary);
}

.delete-button-admin {
    color: var(--error-color);
    font-weight: bold;
}

.profile-bg {
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.5);
    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 1000;
}

#profilePopup {
    display: none;
}

#profilePopup.visible {
    display: flex;
}

.profile-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--color-secondary);
    padding: 2rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 0.5rem;
    position: relative;
    max-width: 90%;
    width: 400px;
}

.profile-infos {
    border : 1px dashed var(--color-primary);
    border-radius: 5px;
    text-align: center;
    padding: 5px 20px;
    background-color: var(--background-color);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.profile-infos img, .btn-profile-user img{
    border: 1px solid black;
    width: 60px;
    background-color: var(--background-color);
    height: 60px;
    border-radius: 100%;
}

.flex-profile-email-admin{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}

.profile-infos p {
    margin-bottom: 1rem;
    font-size: 1.125rem;
}

.admin-button {
    color: var(--background-color);
    background-color: var(--error-color);
    text-decoration: none;
    font-weight: 500;
    padding: 5px 20px;
    margin-bottom: 5px;
}

.admin-button:hover {
    color: var(--text-color-secondary);
    background-color: var(--text-color-primary);
}

.close-btn {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
}

.close-btn:hover {
    color: #ff4d4f;
}

.mobile-nav {
    display: none;
    position: relative;
}

.menu-burger {
    font-size: 2rem;
    background: none;
    border: none;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}

.header-column-links {
    display: none;
    flex-direction: column;
    background: var(--color-primary);
    position: absolute;
    top: 50px;
    right: 0;
    width: 200px;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.header-column-links a {
    color: var(--color-secondary);
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: block;
}

.header-column-links a:hover {
    background: rgba(255, 255, 255, 0.2);
}

.header-column-links.visible {
    display: flex;
}

.modify-modal-form {
    flex-direction: column;
    display: none;
    gap: .5rem;
    margin-top: 10px;
}

.modify-modal-form button {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: var(--color-primary);
    color: var(--text-color-secondary);
}

.modify-modal-form.visible {
    display: flex;
}

.mobile-copyrights {
    display: none;
}

.modify-modal-form input {
    padding-top: 10px;
    padding-bottom: 10px;
    border: none;
    background-color: var(--gray-color-input);
}

/* FOOTER */
footer {
    padding: 20px 0;
    text-align: center;
    position: relative;
    bottom: 0;
    width: 100%;
}

.footer-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    margin-top: 20px;
}

.logo-footer {
    margin-right: 45px;
}

.polities-links,
.importants-links {
    display: flex;
    flex-direction: column;
}

.polities-links a,
.importants-links a {
    color: var(--color-primary);
    text-decoration: none;
}

.polities-links {
    text-align: right;
}

.importants-links {
    text-align: left;
}

.polities-links a:hover,
.importants-links a:hover {
    text-decoration: underline;
}

@media (max-width: 768px) {
    .destock-nav {
        display: none;
    }

    .header-column-links {
        flex-direction: column;
        display: none;
    }

    .header-column-links.visible {
        display: flex;
    }

    .menu-burger {
        font-size: 1.5rem;
    }

    .mobile-nav {
        display: flex;
    }

    .logo-footer {
        margin-right: 0;
    }

    .destock-copyrights {
        display: none;
    }

    .mobile-copyrights {
        display: block;
    }

    .footer-container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2rem;
    }

    .importants-links a {
        text-align: center;
    }

    .polities-links a {
        text-align: center;
    }

    .logged-body {
        padding-left: 0;
        padding-right: 0;
    }

    header {
        padding: 10px;
    }

    .default-user-icon, .default-user-icon-inside {
        width: 30px;
        height: 30px;
        margin-top: 7px;
    }

}




















/*page politiques, cookies popup, admin, url /admin dans crud categories et liste articles*/













/******************************ACCUEIL******************************/
h1 {
    color: var(--color-primary);
}

p {
    color: black;
    font-size: .8em;
}

ul {
    padding-inline-start: 0;
}

li {
    list-style: none;
}

a{
    text-decoration: none;
    color: black;
}

a:hover{
    color: var(--color-primary);
}

.statistic-zone{
    display: flex;
    gap: 10px;
}

.statistic{
     border: 3px dashed var(--color-primary);
     padding: 10px;
}

.statistic-zone > div{
    background-color: #d9d9d9;
}


.main-statistic-zone{
    width: 30%;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 5px;
}

.main-statistic-zone >div{
    line-height: 5px;
}

.main-statistic-zone > a{
    text-align: center;
    background-color: var(--color-primary);
    padding: 5px;
    color: #FFFFFF;
    width: 75%;
    margin: 0 auto;
    margin-bottom: 5px;
}

.main-statistic-zone > a:hover{
    background-color: var(--text-color-primary);
}

.main-statistic-price{
    color: var(--color-primary);
    font-size: 2em;
    font-weight: 600;
}

.secondary-statistic-zone{
    width: 70%;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 5px;
}

.secondary-statistic-price{
    color: var(--color-primary);
    font-size: 1.75em;
    font-weight: 600;
}

.secondary-statistic-row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 45px;
}

.third-statistic-zone{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 50px;
    justify-content: right;
    gap: 10px;
}

.secondary-statistic-price-input{
    color: var(--color-primary);
    font-size: 1.75em;
    font-weight: 600;
    width: 15%;
    background-color: var(--background-color);
    outline: none;
    border: none;
}

.secondary-statistic-price-input:focus{
    outline: initial;
    border: 1px solid var(--color-primary);;
}


.liste {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 26%;
    border : 1px solid black;
    padding: 10px;
    margin: 15px 15px 15px 0;
    background-image: url("/images/wrinkled-paper-texture-7.jpg") ;
    background-size: 200%;
    /*background-repeat: no-repeat;*/
}

.listes {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 20px 0;
}

svg.trash {
    height : 4vh;
}

.list-header {
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0;
}

.list-header p {
    width: 100%;
    text-align: right;
}

hr.dotted {
    border-top: 3px dotted #aaa;
    width: 100%;
}

li h2 {
    text-align: center;
    font-size: large;
    word-break: break-word;
}

.list-item {
    padding: 10px;
}
.list-items {
    padding: 10px;
    min-height: 15vh;
}

.list-footer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.list-footer a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    text-decoration: none;
    color: black;
    text-align: center;
}

.list-footer a:hover{
    text-decoration: underline;
}

.btn-delete-specific{
    background-color: var(--color-primary);
    color: var(--text-color-secondary);
    padding: 10px;
}

svg.arrow {
    height: 3vh;
}

#specific-list-links{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

#specific-list-links a {
    width: 200px;
}

#specific-list-links a:last-child{
    text-align: right;
}


#filtre svg {
    height: 3vh;
}

#filtre {
    display: flex;
    align-items: center;
    margin: 20px 0;
    min-width: 20vw;
    max-width: 20vw;

}

/* select {
    height: 5vh;
    appearance: none;
    width: 100%;
    font-size: 0.9rem;
    padding: 0.675em 6em 0.675em 1em;
    background-color: #fff;
    border: 1px solid #caced1;
    border-radius: 0.25rem;
    color: #000;
    cursor: pointer;
} */

/*Add list popup*/

#list-popup {
    display: none;
}

#list-popup.visible {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

div.liste-add-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--color-secondary);
    padding: 2rem 2.5rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 0.5rem;
    position: relative;
    max-width: 90%;
    width: 400px;
}

div.liste-add-container main {
    min-height: 0;
}

div.liste-add-container h1 {
    text-align: center;
    margin-top: 0;
}

div.liste-add-container div {
    display: flex;
    flex-direction: column;
}

div.liste-add-container label {
    color : var(--color-primary);
    font-weight: bold;
}

div.liste-add-container input {
    margin-top: 8px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: none;
    background-color: var(--gray-color-input);
}

div.liste-add-container form {
    width: 80%;
}

.close-add-list{
    color: var(--error-color);
    margin-top: 5px;
}

.close-add-list:hover{
    font-weight: bold;
    text-decoration: underline;
}

.liste-add-button  {
    margin-top : 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: var(--color-primary);
    color: var(--text-color-secondary);
    font-size: 15px;
    width: 100%;
}

.liste-add-button:hover {
    text-decoration: none;
    background-color: black;
    color: var(--color-secondary);
}

@media(max-width: 750px){
    .statistic-zone{
        flex-direction: column-reverse;
        gap: 5px;
        padding: 2%;
    }

    .statistic-zone > div{
        padding: 0px;
    }

    .secondary-statistic-zone{
        width: 100%
    }
    .main-statistic-zone{
        width: 100%;
    }

    .main-statistic-zone > div{
        text-align: center;
    }
}






















/******************************SIGN Pages******************************/
.login-flex-container,
.register-flex-container,
.pseudo-flex-container {
    display: flex;
    height: 100vh;
    width: 100%;
    padding:0;
    margin: 0;
}

.flex-1 {
    flex-direction: column;
    display: flex;
    align-items: start;
    justify-content: center;
    height: 100%;
    width: 75%;
    background-color: var(--color-primary);
}

.flex-1 img {
    height: 90%;
    width: 90%;
}

.flex-2 {
    background-color: var(--color-secondary);
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25%;
    height: 100%;
}

.alert-danger {
    color: var(--error-color);
    text-align: center;
}

.form-container {
    width: 100%;
    display: flex;
    justify-items: center;
    justify-content: center;
    flex-direction: column;
}

.infos-login,
.infos-pseudo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.infos-register{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.pseudo-infos-text {
    margin-left: 25px;
    margin-right: 25px;
    margin-top: 25px;
    text-align: center;
}

.infos-login>img,
 .infos-pseudo>img {
    width: 50%;
    height: 50%;
}
.infos-register>img{
    margin-top: 20px;
    width: 50%;
    height: 50%;
}



.infos-login a,
.infos-register a,
.infos-pseudo a {
    margin-top: -20px;
    text-decoration: underline;
    color: var(--text-color-primary);
    font-size: 0.8rem;
}

.form-login,
.form-register,
.form-pseudo {
    flex-direction: column;
    display: flex;
    margin: 25px;
}

.form-login label,
.form-register label,
.form-pseudo label {
    color: var(--color-primary);
    font-weight: bold;
    margin-top: 7px;
    margin-bottom: 5px;
}

.form-login input,
.form-register input,
.form-pseudo input {
    padding-top: 10px;
    padding-bottom: 10px;
    border: none;
    background-color: var(--gray-color-input);
}

.login_link,
.register_link {
    margin-top: 15px;
    text-align: center;
    padding-bottom: 10px;
    padding-top: 5px;
    font-size: 0.8rem;
    color: var(--text-color-primary);
    text-decoration: none;
}

.forgot_pwd_link {
    padding-bottom: 10px;
    padding-top: 5px;
    font-size: 0.8rem;
    color: var(--text-color-primary);
    text-decoration: none;
}

.form-login button,
.form-register button,
.form-pseudo button {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: var(--color-primary);
    color: var(--text-color-secondary);
}

.input-email-register,
.input-password,
.input-confirm-password,
.input-pseudo {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    width: 100%;
    margin-bottom: 10px;
}

.agree-terms-checkbox {
    margin-bottom: 10px;
}


@media (max-width: 768px) {
    .login-flex-container {
        flex-direction: column;
    }

    .flex-1 {
        display: none;
    }

    .flex-2 {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}





















/******************************STATISTIQUES******************************/
.statistic{
    border: 3px dashed var(--color-primary);
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.statistic-zone{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.statistic-zone > div:last-child{
   background-color: #d9d9d9;
}


.main-statistic-zone{
   width: 30%;
   height: 200px;
   display: flex;
   flex-direction: column;
   padding: 5px;
}

.main-statistic-zone >div{
   line-height: 15px;
}

.main-statistic-zone > a{
   text-align: center;
}

.main-statistic-price{
   color: var(--color-primary);
   font-size: 2em;
   font-weight: 600;
}

.secondary-statistic-zone{
   width: 70%;
   padding: 15px;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   gap: 5px;
}

.secondary-statistic-price{
   color: var(--color-primary);
   font-size: 1.75em;
   font-weight: 600;
}

.secondary-statistic-row{
   display: flex;
   align-items: center;
   justify-content: space-between;
   height: 45px;
}

.third-statistic-zone{
   display: flex;
   flex-direction: row;
   align-items: center;
   height: 50px;
   justify-content: right;
   gap: 10px;
}

.third-statistic-zone > p{
    font-weight: 600;
}


.graph-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
 }
 
 .pieChart-container {
    display: flex;
    flex-direction: column;
    justify-content: center;  
    align-items: center; 
    width: 100%;
    height: 100vh; 
 }
 
 .pieChart-wrapper {
    width: 500px; 
    height: 500px; 
    display: flex;
    justify-content: center;  
    align-items: center;  
 }
 
 canvas {
    width: 100% !important;
    height: 100% !important;
 }
 
 
 /* Partie graph */
 h2,h3{
     color: var(--color-primary);
     font-weight: 600;
 }
 
 h3{
    width: 100%;
    text-align: left;
 }
@media(max-width: 750px){
   .statistic-zone{
       flex-direction: column-reverse;
       gap: 5px;
       padding: 2%;
   }

   .statistic-zone > div{
       padding: 0px;
   }

   .secondary-statistic-zone{
       width: 100%
   }
   .main-statistic-zone{
       width: 100%;
   }

   .main-statistic-zone > div{
       text-align: center;
   }
   
}




















/***************************CRUD Admin***************************/ 
.admin-index-icon{
    width: 200px;
    height: auto;
}
.title-admin{
    display: flex;
    gap: 0.5rem;
}
.title-admin-show{
    display: flex;
    gap: 0.5rem;
    align-items: center;
}
.title-admin-icon{
    width: 45px;
    height: 45px;
}

.admin-links{
    gap: 0;
    display: flex;
    flex-direction: column;
}

.admin-links a{
    color : var(--color-primary);
}

.new-article-form, 
.modify-article-form,
.modify-magasin-form,
 .modify-categorie-form, .delete-article-form, 
 .new-categorie-form, 
 .new-magasin-form,
 #edit-list-form{
    flex-direction: column ;
    display: flex;
    justify-content: center;
}

.form-control {
    flex-direction: column ;
    display: flex;
    justify-content: center;
    margin-bottom: 5px;
}

.price-input, .categorie-name-input, .name-input, .magasin-name-input {
    padding-top: 10px;
    padding-bottom: 10px;
    border: none;
    background-color: var(--gray-color-input);
    width: 100%;
}

.category-select, .select-magasin, .store-select {
    background-color: var(--gray-color-input);
}

.new-article-form button,
 .modify-article-form button,
 .modify-magasin-form button, 
 .modify-categorie-form button, 
 .delete-article-form button, 
 .new-categorie-form button, 
 .new-magasin-form button,
 #edit-list-form button
 {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: var(--color-primary);
    color: var(--text-color-secondary);
    margin-bottom: 10px;
    margin-top: 10px;
}

.return-to-list-link, .create-link-crud, .edit-link-crud{
    font-size: 0.8rem;
}

.table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.table th,
.table td {
    border: 1px solid var(--gray-color-input);
    padding: 10px;
    text-align: left;
}

.table th {
    background-color: var(--color-primary);
    color: var(--text-color-secondary);
}

.table tbody tr:nth-child(odd) {
    background-color: var(--background-color);
}

.table tbody tr:hover {
    background-color: var(--gray-color-input);
}

.table a {
    color: var(--color-primary);
    text-decoration: none;
    margin-right: 10px;
}

.table a:hover {
    text-decoration: underline;
}

.no-records {
    text-align: center;
    padding: 20px;
    color: var(--error-color);
}

.actions-td>a{
    display: flex;
    align-items: center;
}

.edit-img-crud, .see-img-crud{
    width: 20px;    
    width: 20px;    
    margin-left: 5px;
}

.create-link-crud:hover {
    text-decoration: underline;
}


#specific-list-container { margin: 1em auto;
    max-width: 800px;
    border: 1px solid #2428612f;
    width: 95%; 
    margin-top: 20px;   font: 18px/1.5 sans-serif; 
    padding: 10px 5px;
    background-color: #F3F3F3;
     display: flex;
     flex-direction: column;
     flex-wrap: nowrap;
     align-items: center;
     justify-content: center;
}


#list {
    padding: 20px 20px 30px;
    margin : 50px;
    background-image: url("/images/wrinkled-paper-texture-7.jpg") ;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 45vh ;
}

#list h1 {
    margin-bottom: 0;
}

#list h1+p, #list h1+p+p {
    margin: 5px;
}



#headers {
    display: flex;
    flex-direction: row;
    list-style: none;
    font-weight: bold;
    width: 100%;
    justify-content: space-around;
    padding: 0;
}

#list-items {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}

#items {
    list-style: none;
    width: 100%;
    margin: 0;
    padding: 0;
}

/*#items input:first-child {*/
/*    width: 80%;*/
/*    cursor: text;*/
/*}*/

#items input {
    width: 20%;
    border: none;
    color: var(--text-color-primary);
    background-color: transparent;
    font-family: "Inter", Arial, sans-serif;
    font-size: 16px;
    text-align: center;
}



.item {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    justify-items: center;
    width: 100%;
    padding: 2px 5px;
    position: relative;
}

hr {
    width: 100%;
    border: 1px solid black;
}

#details {
    display: flex;
    flex-direction: column;
    justify-content: left;
    width: 100%;
    margin: 30px 0;
}

#details p {
    margin: 0;
    padding: 0;
}

#footer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#total {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}

.item .trash {
    cursor: pointer;
    height: 3vh ;
    display: none;
}



.item:hover .trash {
    display: block;
}

#footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

#footer p {
    margin: 0;
    padding: 0;
}

#barcode {
    width: 65%;
}

#links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

#links a {
    text-decoration: none;
    color: var(--text-color-primary);
    font-size: 16px;
    padding: 2px 5px;
}

#container button {
    background-color: var(--color-primary);
    color: var(--text-color-secondary);
    border: none;
    padding: 10px 10px;
    cursor: pointer;
    font-family: "Inter", Arial, sans-serif;
}

.item-bought {
    text-decoration: line-through;
}

