<!DOCTYPE html>
<html>
<head>
    <title>Vérification de votre email</title>
</head>
<body>
    <h1>Bonjour,</h1>
    <p>Merci de valider votre adresse email en cliquant sur le lien ci-dessous :</p>
    <p><a href="{{ path('app_set_pseudo', { 'token': token }) }}">Cliquez ici pour valider votre email</a></p>
</body>
</html>
