{% extends 'base.html.twig' %}

{% block title %}Mentions Légales{% endblock %}

{% block body %}
<style>
    .example-wrapper { background-color: #F3F3F3; border: 2px solid rgba(36, 40, 97, .2) ; padding: 25px; margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
</style>
<div class="example-wrapper">
    <h1>Mentions Légales</h1>
    <p>
        Bienvenue sur notre site web. Voici les mentions légales qui s'appliquent à votre utilisation de ce site.
    </p>
    <h2>Éditeur du site</h2>
    <p>
        Ce site est édité par [Nom de l'entreprise ou de l'organisation], dont le siège social est situé à [Adresse complète].
    </p>
    <p>
        Vous pouvez nous contacter par email à [adresse email] ou par téléphone au [numéro de téléphone].
    </p>
    <h2>Hébergement</h2>
    <p>
        Le site est hébergé par [Nom de l'hébergeur], situé à [Adresse de l'hébergeur].
    </p>
    <h2>Conditions d'utilisation</h2>
    <p>
        L'utilisation de ce site implique l'acceptation pleine et entière des conditions générales d'utilisation décrites ci-après. Ces conditions d'utilisation sont susceptibles d'être modifiées ou complétées à tout moment, les utilisateurs du site sont donc invités à les consulter de manière régulière.
    </p>
    <h2>Propriété intellectuelle</h2>
    <p>
        Tous les contenus présents sur ce site, incluant, de façon non limitative, les graphismes, images, textes, vidéos, animations, sons, logos, gifs et icônes ainsi que leur mise en forme sont la propriété exclusive de [Nom de l'entreprise ou de l'organisation] à l'exception des marques, logos ou contenus appartenant à d'autres sociétés partenaires ou auteurs.
    </p>
    <p>
        Toute reproduction, distribution, modification, adaptation, retransmission ou publication, même partielle, de ces différents éléments est strictement interdite sans l'accord exprès par écrit de [Nom de l'entreprise ou de l'organisation].
    </p>
    <h2>Limitation de responsabilité</h2>
    <p>
        Les informations contenues sur ce site sont aussi précises que possible et le site est mis à jour à différentes périodes de l'année, mais peut toutefois contenir des inexactitudes ou des omissions. Si vous constatez une lacune, erreur ou ce qui paraît être un dysfonctionnement, merci de bien vouloir le signaler par email à [adresse email], en décrivant le problème de la manière la plus précise possible (page posant problème, type de navigateur utilisé, ...).
    </p>
    <p>
        Tout contenu téléchargé se fait aux risques et périls de l'utilisateur et sous sa seule responsabilité. En conséquence, [Nom de l'entreprise ou de l'organisation] ne saurait être tenu responsable d'un quelconque dommage subi par l'ordinateur de l'utilisateur ou d'une quelconque perte de données consécutives au téléchargement.
    </p>
</div>
{% endblock %}
