{% extends 'base.html.twig' %}

{% block title %}Politique de Cookies{% endblock %}

{% block body %}
<style>
    .example-wrapper { background-color: #F3F3F3; border: 2px solid rgba(36, 40, 97, .2) ; padding: 25px; margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
</style>
<div class="example-wrapper">
    <h1>Politique de Cookies</h1>
    <p>
        Bienvenue sur notre site web. Cette politique de cookies explique ce que sont les cookies et comment nous les utilisons. Vous devez lire cette politique pour comprendre quels types de cookies nous utilisons, les informations que nous recueillons à l'aide des cookies et comment ces informations sont utilisées.
    </p>
    <h2>Que sont les cookies ?</h2>
    <p>
        Les cookies sont de petits fichiers texte qui sont utilisés pour stocker de petites informations. Les cookies sont stockés sur votre appareil lorsque le site web est chargé sur votre navigateur. Ces cookies nous aident à faire fonctionner le site web correctement, à le rendre plus sûr, à fournir une meilleure expérience utilisateur, à comprendre comment le site web fonctionne et à analyser ce qui fonctionne et ce qui doit être amélioré.
    </p>
    <h2>Comment utilisons-nous les cookies ?</h2>
    <p>
        Comme la plupart des services en ligne, notre site web utilise des cookies de première partie et de tierce partie à plusieurs fins. Les cookies de première partie sont principalement nécessaires pour le bon fonctionnement du site web et ne collectent aucune de vos données personnellement identifiables.
    </p>
    <p>
        Les cookies de tierce partie utilisés sur nos sites web servent principalement à comprendre comment le site web fonctionne, comment vous interagissez avec notre site web, à garder nos services sécurisés, à fournir des publicités qui sont pertinentes pour vous, et, dans l'ensemble, à vous fournir une expérience utilisateur améliorée et à accélérer vos futures interactions avec notre site web.
    </p>
    <h2>Quels types de cookies utilisons-nous ?</h2>
    <p>
        <strong>Nécessaires :</strong> Certains cookies sont essentiels pour que vous puissiez profiter de toutes les fonctionnalités de notre site. Ils nous permettent de maintenir les sessions utilisateurs et de prévenir toute menace de sécurité. Ils ne collectent ni ne stockent aucune information personnelle.
    </p>
    <p>
        <strong>Statistiques :</strong> Ces cookies stockent des informations comme le nombre de visiteurs du site web, le nombre de visiteurs uniques, les pages du site web qui ont été visitées, la source de la visite, etc. Ces données nous aident à comprendre et à analyser les performances du site web et les points à améliorer.
    </p>
    <p>
        <strong>Fonctionnels :</strong> Ce sont les cookies qui aident à certaines fonctionnalités non essentielles sur notre site web. Ces fonctionnalités incluent l'intégration de contenus comme des vidéos ou le partage de contenus sur le site web sur des plateformes de médias sociaux.
    </p>
    <p>
        <strong>Préférences :</strong> Ces cookies nous aident à stocker vos paramètres et préférences de navigation comme les préférences de langue afin que vous ayez une expérience meilleure et efficace lors de vos futures visites sur le site web.
    </p>
    <h2>Comment puis-je contrôler les préférences des cookies ?</h2>
    <p>
        Si vous décidez de modifier vos préférences ultérieurement au cours de votre session de navigation, vous pouvez cliquer sur l'onglet "Politique de confidentialité et cookies" sur votre écran. Cela affichera à nouveau l'avis de consentement vous permettant de modifier vos préférences ou de retirer entièrement votre consentement.
    </p>
    <p>
        En plus de cela, différents navigateurs proposent différentes méthodes pour bloquer et supprimer les cookies utilisés par les sites web. Vous pouvez modifier les paramètres de votre navigateur pour bloquer/supprimer les cookies. Pour en savoir plus sur la gestion et la suppression des cookies, visitez wikipedia.org, www.allaboutcookies.org.
    </p>
</div>
{% endblock %}
