{{ form_start(form, {'attr': {'class': 'new-categorie-form'}}, {action: path("app_categorie_new")}) }}
    {{ form_widget(form) }}
<button class="btn">{{ button_label|default("Ajouter la catégorie") }}</button>
{{ form_end(form) }}