{{ form_start(form,  {'attr': {'class': 'modify-article-form'}}) }}
    {{ form_widget(form) }}
    <button class="btn delete-button-admin">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
